# Testing/debugging files, deprecated, and misc
*test
**/deprecated
misc/

# Logs and results
results/*/*

# Large data files
data/raw_reads/*
data/trimmed_reads/*
data/bams/*
data/test_reads/*.fastq

# Genome index files and fasta/annotation reference files
ref/*index
ref/*.gtf
ref/*.bed
ref/*.bed.gz
ref/*.fa
ref/*.fa.gz

# Dont track nextflow run files
*.nextflow.log*
*.command.*
.nextflow/*
work/*

# Local machine temporary R session files.
.Rproj.user
.Rhistory