# Dont track binaries except INSTALLATION_LOG.txt
bin/INSTALLATION_LOG.txt
bin/**/
bin/*.gz
bin/*.tar
bin/*.zip

# Dont track large, compressed data files
data/*.gz
data/*.tar
data/*.zip
data/*.tsv
data/*.txt

# Dont track data files with subdirectories
data/**/

# Allow tracking of samples_sheet
!data/samples_sheet.csv

# Dont track Zhu replication analysis
misc/*
Zhu*

# 
# !config/*.gz 
# !config/*.tar 
# !config/*.zip

# .html files are usually Rmarkdown outputs. Dont track.
*.html

# Local machine temporary R session files.
.Rproj.user
