# Dont track results
results/**

# Dont track downloaded sra-tools tarballs
bin/sratoolkit.*.tar.gz
bin/sratoolkit**

# Dont track fasta/annotation files
*.ht2
*.ht21
*.fa
*.fasta
*.fastq
*.fa.gz
*.fa
*.gtf
ref/HISAT2_index/**
ref/STAR_index/**
ref/annotations/**
ref/**.tar

# IDK
ref/Log.out

# Dont track nextflow run files
*.nextflow.log*
*.command.*
.nextflow/*
work/*

# Dont track large, compressed data files or fastq files
data/*.gz
data/*.tar
data/*.zip
data/*.tsv
data/*.txt
*.fastq
*.sra

# Dont track data files with subdirectories
data/**/

# Dont track FastQC outputs
*fastqc.zip
*fastqc.html

# Allow tracking of samples_sheet
!data/samples_sheet.csv

# Dont track Zhu replication analysis
misc/*
Zhu*

# 
# !config/*.gz 
# !config/*.tar 
# !config/*.zip

# .html files are usually Rmarkdown outputs. Dont track.
*.html

# Local machine temporary R session files.
.Rproj.user
