// #########################################################
// RUN PARAMETERS SPECIFIC TO rnaseq-processing WORKFLOW
// #########################################################

params {

  // =========================================================
  // USER-SPECIFIED RUN PARAMETERS -- ADJUST THESE PER RUN!
  // =========================================================

  // Large file save settings
  saveRawFastq        = false
  saveTrimmedFastq    = false
  saveBAMs            = false
  saveQuants          = false
  compressFastq       = true

  // Alignment run params and dirs
  buildNewIndex       = false
  alignerMethod       = "STAR"
  // existingIndex       = null
  existingIndex       = "ref/star_index" // set as `null`
  genomeDir           = "ref"
  genomeFasta         = "ref/GRCm39.primary_assembly.genome.fa"
  annotationGTF       = "ref/gencode.vM28.annotation.gtf"
  readsLength         = 100

  // =========================================================
  // SHARED PARAMS ACROSS ALL RUNS -- DO NOT CHANGE
  // =========================================================

  // Nextflow input params/directories
  samplesheet         = "data/samplesheet.csv"
  srrAccessions       = "data/srrAccessions.txt"

  // Session run params
  publishmode         = "copy"
  sleep               = 1

  // Sequencing reads directories
  dataDir             = "data"
  rawReadsDir         = "data/rawdata"
  trimmedReadsDir     = "data/trimmed_reads"
  bamsDir             = "data/bams"

  // Analysis software output directories
  queryGEODir         = "results/QueryGEO"
  FastQCDir           = "results/FastQC"
  BBdukDir            = "results/BBDuk"
  RSeQCDir            = "results/RSeQC"
  MultiQCDir          = "results/MultiQC"

  // Debugging params
  testRun             = true
  testDownloadReads   = false
  testReadsDir        = "data/testdata"
  testBuildNewIndex   = false
  testGenomeFasta     = "ref/GRCm39.primary_assembly.genome.fa"
  testAnnotationGTF   = "ref/gencode.vM28.annotation.gtf"
}

// #########################################################
// CONFIGS FOR MODULES + EXECUTION -- DO NOT CHANGE 
// #########################################################

profiles {

  // =========================================================
  // CONFIG FOR RUNNING ON LOCAL MACHINE
  // =========================================================

  local {
    executor {
      name              = 'local'
    }
    process {
      cpu               = 2
      memory            = 16.GB
      ext.testing       = false
    }
    conda {
      cacheDir          = '/root/miniconda3/envs/LipidModule' // THIS NEEDS TO BE CHANGED EVENTUALLY
    }
    withLabel: LargeMem {
      memory            = 32.GB
    }
  }

  // =========================================================
  // CONFIG FOR RUNNING W/ LSF SCHEDULER (e.g. Pegasus)
  // =========================================================

  lsf {
    executor {
      name              = 'lsf'    
      submitRateLimit   = '10sec'
      perJobMemLimit    = 128.GB

    }
    conda {
      cacheDir          = '/nethome/jsc228/miniconda3/envs/LipidModule' // THIS NEEDS TO BE CHANGED EVENTUALLY
    }
    process {
      cpu               = 6
      memory            = 16.GB
      ext.testing       = false
    }
    withLabel: LargeMem {
      memory            = 64.GB
      queue             = 'bigmem'
    }
  }

  // =========================================================
  // CONFIG FOR TESTING AND DEBUGGING
  // =========================================================

  testing {
    executor {
      name              = 'local'
    }
    process {
      cpu               = 2
      memory            = 8.GB
      ext.testing       = true
      conda             = '/root/miniconda3/envs/LipidModule' // THIS NEEDS TO BE CHANGED EVENTUALLY
    }
    withLabel: LargeMem {
      memory            = 32.GB
    }
    params {
      testRun           = true
    }
  }
}


// // #########################################################
// // Config profiles
// // #########################################################

// profiles {

//   local {
//     process {
//       executor        = 'local'
//       conda           = '/root/miniconda3/envs/LipidModule'
//       cpus            = 2
//       memory          = 2.GB
//       withLabel:Dump_FASTQ {
//         publishDir = [
//           path: params.rawReadsDir
//           mode: "copy"
//           ena
//         ]
//       }
//       withLabel:Build_Index {
//         memory        = { 32.G }
//       }
//       withLabel:Align_Reads {
//         memory        = { 32.G }
//       }
//     }
//     env {
//       NETHOME         = "/mnt/d/LipidModule/"
//       SCRATCH         = "/mnt/d/LipidModule/"
//     }
//   }

//   lsf {
//     process {
//       executor        = 'lsf'
//       cpus            = 4
//       memory          = 4.GB
//       conda           = '/nethome/jsc228/miniconda3/envs/LipidModule'
//       withLabel:Query_GEO {
//         cpus          = { 2 }
//         memory        = { 2.GB }
//         queue         = 'general'
//       }
//       withLabel:Build_Index {
//         cpus          = { 12 }
//         memory        = { 64.GB }
//         queue         = 'bigmem'
//       }
//       withLabel:Align_Reads {
//         cpus          = { 12 }
//         memory        = { 64.GB }
//         queue         = 'bigmem'
//       }
//     }
//   }

//   interactive {
//     process {
//       executor        = 'local'
//       cpu             = 8
//       memory          = 32.GB
//       conda           = '/nethome/jsc228/miniconda3/envs/LipidModule'
//     }
//   }
// }