includeConfig 'config/schedulers.config'

// #########################################################
// Default params across all runs
// #########################################################

params {

  // Nextflow input params/directories
  dataDir           = "data"
  samplesheet       = "data/samplesheet.csv"
  alignerMethod     = "STAR"

  // Nextflow run params
  publishmode       = "copy"
  sleep             = 1
  forTesting        = false // see profile:testing to override
  saveRawFastq      = false
  saveTrimmedFastq  = true
  saveBAMs          = false
  saveQuants        = true

  // Sequencing reads directories
  rawReadsDir       = "data/rawdata"
  trimmedReadsDir   = "data/trimmed_reads"
  bamsDir           = "data/bams"

  // Alignment run params and dirs
  genomeDir         = "ref"
  annotationGTF     = "ref/gencode.vM28.annotation.gtf"
  genomeFasta       = "ref/GRCm39.primary_assembly.genome.fa"
  readsLength       = 100
  
  // Analysis software output directories
  queryGEODir       = "results/QueryGEO"
  FastQCDir         = "results/FastQC"
  BBdukDir          = "results/BBDuk"
  RSeQCDir          = "results/RSeQC"
  MultiQCDir        = "results/MultiQC"

}

// #########################################################
// Config profiles
// #########################################################

profiles {

  local {
    process {
      conda         = '/root/miniconda3/envs/LipidModule'
      cpus          = 2
      memory        = 2.GB
      withLabel:Build_Index {
        memory      = { 32.G }
      }
      withLabel:Align_Reads {
        memory      = { 32.G }
      }
    }
    env {
      NETHOME       = "/mnt/d/LipidModule/"
      SCRATCH       = "/mnt/d/LipidModule/"
    }
  }

  lsf {
    conda           = '/nethome/jsc228/miniconda3/envs/LipidModule'
    cpus            = 4
    memory          = 8.GB
    process {
      withLabel:Query_GEO {
        cpus        = { 2 }
        memory      = { 2.GB }
      }
      withLabel:Build_Index {
        cpus        = { 8 }
        memory      = { 64.GB }
        queue       = 'bigmem'
      }
      withLabel:Align_Reads {
        cpus        = { 8 }
        memory      = { 64.GB }
        queue       = 'bigmem'
      }
    }
  }

  testing {
    params {
      forTesting    = true
      testReadsDir  = "data/testdata"
    }
  }

}