// includeConfig 'config/schedulers.config'

// #########################################################
// Default params across all runs
// #########################################################

// NOTE: Params with `// ADJUST THIS` should be adjusted per run + user.

params {

  // Nextflow input params/directories
  dataDir             = "data"
  samplesheet         = "data/samplesheet.csv"
  alignerMethod       = "STAR" // ADJUST THIS

  // Nextflow run params
  publishmode         = "copy"
  sleep               = 1
  saveRawFastq        = true // ADJUST THIS
  saveTrimmedFastq    = true // ADJUST THIS
  saveBAMs            = true // ADJUST THIS
  saveQuants          = true // ADJUST THIS

  // Test run params. Primarily forfor runs using subsets of data.
  testRun             = true // see profile:testing to override
  testReadsDir        = "data/testdata"
  testBuildNewIndex   = false
  testGenomeFasta     = "ref/GRCm39.primary_assembly.genome.fa"
  testAnnotationGTF   = "ref/gencode.vM28.annotation.gtf"

  // Sequencing reads directories
  rawReadsDir         = "data/rawdata"
  trimmedReadsDir     = "data/trimmed_reads"
  bamsDir             = "data/bams"

  // Alignment run params and dirs
  genomeDir           = "ref"
  genomeFasta         = "ref/GRCm39.primary_assembly.genome.fa" // ADJUST THIS
  annotationGTF       = "ref/gencode.vM28.annotation.gtf" // ADJUST THIS
  readsLength         = 100 // ADJUST THIS
  buildNewIndex       = false
  existingIndex       = "ref/star_index"
  
  // Analysis software output directories
  queryGEODir         = "results/QueryGEO"
  FastQCDir           = "results/FastQC"
  BBdukDir            = "results/BBDuk"
  RSeQCDir            = "results/RSeQC"
  MultiQCDir          = "results/MultiQC"

}

// #########################################################
// Config profiles
// #########################################################

profiles {

  local {
    process {
      conda           = '/root/miniconda3/envs/LipidModule'
      cpus            = 2
      memory          = 2.GB
      withLabel:Build_Index {
        memory        = { 32.G }
      }
      withLabel:Align_Reads {
        memory        = { 32.G }
      }
    }
    env {
      NETHOME         = "/mnt/d/LipidModule/"
      SCRATCH         = "/mnt/d/LipidModule/"
    }
  }

  lsf {
    process {
      cpus            = 4
      memory          = 4.GB
      conda           = '/nethome/jsc228/miniconda3/envs/LipidModule'
      withLabel:Query_GEO {
        cpus          = { 2 }
        memory        = { 2.GB }
        queue         = 'general'
      }
      withLabel:Build_Index {
        cpus          = { 12 }
        memory        = { 64.GB }
        queue         = 'bigmem'
      }
      withLabel:Align_Reads {
        cpus          = { 12 }
        memory        = { 64.GB }
        queue         = 'bigmem'
      }
    }
  }
}